<article 
    class="mainPage-comment-display">

	<p 
        class="comment-content">
        {{comments.comment}}
    </p>

	<div 
        class="comment-footer">

		<hr />

		<p 
            class="user-reference">
            {{comments.user.name}}
        </p>
		<p 
            class="comments-date">
            {{comments.date_created}}
        </p>
	</div>
</article>
