{{! 404 - Content Cannot Be Found! }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>404 Not Found</title>
</head>

<body>
	<section class="page not-found">

		<div class="container">

			<header class="404-header">

				<h1>
					404
				</h1>

				<h2>
					Page Not Found
				</h2>

			</header>

			<div class="404-footer">

				<p>Go Back from whence you came!</p>

				<ul>
					<li>
						<a href="/">
							Home
						</a>
					</li>

					<li>
						<a href="/dashboard">
							Dashboard
						</a>
					</li>
				</ul>
			</div>

		</div>
	</section>
</body>

</html>