<section class="page sign-up">
  <div class="container">



    <h1>Tech Blog</h1>



    <hr />



    <h2>Sign Up!</h2>
    <p>Post and Interact!</p>



    <!-- Signup Form -->
    <form 
        class="sub-container">

      <!-- Username -->
      <div class="form-group">
        <label 
            for="name">
            Username:
        </label>

        <input
          class="userName-signup"
          maxlength="15"
          name="name"
          placeholder="My name is... what?"
          type="text"
        />
      </div>


      <!-- Email -->
      <div class="form-group">
        <label 
            for="email">
            Email:
        </label>

        <input
          class="email-signup"
          name="email"
          placeholder="Your email goes here..."
          type="email"
        />
      </div>

      <!-- Password -->
      <div 
        class="form-group">
        <label 
            for="password">
            Password:
        </label>

        <input
          class="password-signup"
          minlength="8"
          name="password"
          placeholder="(8-digit minimum)"
          type="password"
        />
      </div>

      <!-- Submit Credentials -->
      <input
        class="btn btn-primary"
        id="signupSubmit"
        type="submit"
        value="Sign Up!"
      />
    </form>
  </div>
</section>
  <script src="/js/sign-up/signupApi.js"></script>
  <script src="/js/sign-up/signupCheck.js"></script>

