<div class="dashboard">
    <div class="container">
        <h1>Le Dashboard</h1>
        <p class="sub-header">
            Let's hear it
            <span id="userName" value="{{user.id}}">{{user.name}}
            </span>!
        </p>



        <hr />



        <h2>Post Fresh Content</h2>

        {{! Code for making a new post }}

        <form action="/api/post" method="post" class="container-sub">


            {{! Headline Elements }}
            <label for="post-Subject">Subject: </label>
            <input class="post-subject-input" name="title" placeholder="This post is about..." type="text" required />

            {{! Post Contents }}
            <label for="post-content">Content:</label>
            <textarea class="post-content-input" maxlength="10000" name="content" placeholder="Content goes here..."
                type="text" required></textarea>

            {{! Submission Button }}

            <input class="btn" id="submitPost" type="submit" value="Post it!" />
        </form>



        <hr />



        <h2>
            Your Post History
        </h2>

        <div class="sub-container" id="pastPosts">
            {{#if user.posts}}

            {{! If/Else for User Post history cards }}
            {{#each user.posts as |post|}}
            {{> dashboardPostCard}}
            {{/each}}

            {{else}}

            <div class="empty-post-history">
                <p>Nothin' here but shadows...</p>
            </div>

            {{/if}}
        </div>



        <hr />


        <h2>
            Your Comments
        </h2>

        <div class="sub-container" id="pastComments">
            {{#if user.comments}}

            {{! IF/Else for User Comment history Cards }}
            {{#each user.comments}}
                {{> dashboardCommentCard}}
            {{/each}}

            {{else}}

                <div class="empty-comment-history">
                    <p>Nothin' here but secrets...</p>
                </div>
            {{/if}}
        </div>
    </div>
</div>