<article class="success">
	<section class="container">
		<h1>Sign-Up Successful!</h1>

		<hr />
		<h2>Where next?</h2>

		<ul class="success-container">
			<li class="success-item">
				<a href="/">Home</a>
			</li>
			<li class="success-item">
				<a href="/dashboard">Dashboard</a>
			</li>
		</ul>
	</section>
</article>
